body{

}

p {

}

a {

}
h3{

}
li{

}
#Header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
}
#LeftNav{
    border:solid 8px black;
    float: left;
}
#LeftNav img{ 

}